@if (contact.hasValue()) {
<form>
  <header>
    <a routerLink="/contacts">
      <lucide-icon [name]="ArrowLeft" size="24" />
    </a>
    @if (!isEditing()) {
    <button (click)="isEditing.set(true)">
      <lucide-icon [name]="UserRoundPen" size="24" />
    </button>
    } @else {
    <button (click)="isEditing.set(false)">
      <lucide-icon [name]="Check" size="24" />
    </button>
    }
  </header>

  <img
    width="200"
    height="200"
    priority="high"
    [ngSrc]="contact.value().picture.large"
    [alt]="`photo of ${ firstName() } ${ lastName() }`"
  />

  <h3>{{ title() }}. {{ firstName() }} {{ lastName() }}</h3>

  <fieldset>
    <input
      type="text"
      [readOnly]="!isEditing()"
      placeholder="Title"
      name="title"
      [(ngModel)]="title"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="text"
      placeholder="First Name"
      name="firstName"
      [readOnly]="!isEditing()"
      [(ngModel)]="firstName"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="text"
      placeholder="Last Name"
      name="lastName"
      [readOnly]="!isEditing()"
      [(ngModel)]="lastName"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="email"
      placeholder="Email"
      name="email"
      [readOnly]="!isEditing()"
      [(ngModel)]="email"
      inputmode="email"
      [ngModelOptions]="{standalone: true}"
    />
  </fieldset>

  <fieldset>
    <input
      type="text"
      inputmode="tel"
      placeholder="Phone"
      name="phone"
      [readOnly]="!isEditing()"
      [(ngModel)]="phone"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="text"
      placeholder="Cell"
      inputmode="tel"
      name="cell"
      [readOnly]="!isEditing()"
      [(ngModel)]="cell"
      [ngModelOptions]="{standalone: true}"
    />
  </fieldset>

  <fieldset>
    <input
      type="text"
      placeholder="Street Name"
      name="streetName"
      [readOnly]="!isEditing()"
      [(ngModel)]="streetName"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="number"
      placeholder="Apartment number"
      name="house"
      [readOnly]="!isEditing()"
      [(ngModel)]="house"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="text"
      placeholder="City"
      name="city"
      [readOnly]="!isEditing()"
      [(ngModel)]="city"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="text"
      placeholder="Country"
      name="country"
      [readOnly]="!isEditing()"
      [(ngModel)]="country"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="text"
      placeholder="State"
      name="state"
      [readOnly]="!isEditing()"
      [(ngModel)]="state"
      [ngModelOptions]="{standalone: true}"
    />
    <input
      type="number"
      placeholder="Postcode"
      name="postcode"
      [readOnly]="!isEditing()"
      [(ngModel)]="postcode"
      [ngModelOptions]="{standalone: true}"
    />
  </fieldset>
</form>
}
