<a [routerLink]="['/contacts', contact().id]">
  @if (contact().picture?.thumbnail; as picture) {
  <img
    width="50"
    height="50"
    priority="high"
    [ngSrc]="picture"
    [alt]="`profile picture of ${contact().name?.first} ${contact().name?.last}`"
  />
  } @else {
  <lucide-icon class="avatar" [name]="icons.UserRound" size="50" />
  }
  <span class="name" class="capitalize"
    >{{ contact().name?.first }} {{ contact().name?.last }}</span
  >
  <small class="phone">{{ contact().cell }}</small>

  @if (contact().pendingRequest?.()) {
  <span class="icon">
    <lucide-icon [name]="icons.CloudAlert" size="18" />
    <span>syncing...</span>
  </span>
  }
</a>
