<ol class="list">
  @if (api.contacts.error()) {
  <li class="error">
    <span>Error: {{api.contacts.error()?.message }}</span>
  </li>

  } @else { @for (letter of groupedContacts() | keyvalue; track letter.key) {
  <li class="section" [attr.data-key]="letter.key">
    <span class="letter">{{letter.key}}</span>
    <ol>
      @for (contact of letter.value; track contact.id) {
      <li>
        <app-contact-item [contact]="contact"></app-contact-item>
      </li>
      }
    </ol>
  </li>
  }@empty {
  <span>No contacts found.</span>
  }}
</ol>
