@keyframes pulse {
  from {
    opacity: 50%;
  }

  to {
    opacity: 90%;
  }
}

@keyframes scale {
  from {
    width: 200px;
    height: 200px;
  }

  50%,
  100% {
    width: 100px;
    height: 100px;
  }
}

::view-transition-old(root) {
  animation: none;
}

::view-transition-new(root) {
  animation: var(--animation-slide-in-left);
}

.back-transition::view-transition-new(root) {
  animation: var(--animation-slide-in-right);
}

.back-transition::view-transition-old(root) {
  z-index: -1;
  animation: var(--animation-slide-out-right);
}
