<form (submit)="save()">
  <header>
    <a routerLink="/contacts" class="button">
      <lucide-icon [name]="icons.ArrowLeft" size="24" />
    </a>
    @if (!isEditing()) {
    <button (click)="isEditing.set(true)" type="button" class="button">
      <lucide-icon [name]="icons.UserRoundPen" size="24" />
    </button>
    } @else {
    <button type="submit" class="button">
      <lucide-icon [name]="icons.Check" size="24" />
    </button>
    }
  </header>

  @let name = this.form.controls.name.controls; @if
  (contact.value()?.picture?.large; as picture) {
  <img
    width="200"
    height="200"
    priority="high"
    [ngSrc]="picture"
    #img
    (error)="img.src = contact.value()?.picture?.thumbnail!"
    [alt]="`photo of ${ name.title.value() }. ${ name.first.value() } ${ name.last.value() }`"
  />
  } @else {
  <lucide-icon class="avatar" [name]="icons.UserRound" size="200" />
  }

  <h3>
    @if (name.title.value(); as title) { {{ name.title.value() }}. } {{
    name.first.value() }} {{ name.last.value() }}
  </h3>
  <fieldset>
    <input
      type="text"
      placeholder="Title"
      name="title"
      ngModel
      [formField]="form.controls.name.controls.title"
    />
    <input
      type="text"
      placeholder="First Name"
      required
      name="firstName"
      ngModel
      [formField]="form.controls.name.controls.first"
    />
    <input
      type="text"
      placeholder="Last Name"
      name="lastName"
      ngModel
      [formField]="form.controls.name.controls.last"
    />
    <input
      type="email"
      placeholder="Email"
      name="email"
      inputmode="email"
      required
      ngModel
      [formField]="form.controls.email"
    />
  </fieldset>

  <fieldset>
    <input
      type="number"
      min="0"
      inputmode="numeric"
      placeholder="Age"
      name="age"
      ngModel
      [formField]="form.controls.age"
    />
  </fieldset>

  <fieldset>
    <input
      type="text"
      inputmode="tel"
      placeholder="Phone"
      name="phone"
      required
      ngModel
      [formField]="form.controls.phone"
    />
    <input
      type="text"
      inputmode="tel"
      placeholder="Cell"
      name="cell"
      required
      ngModel
      [formField]="form.controls.cell"
    />
  </fieldset>

  <fieldset>
    <input
      type="text"
      placeholder="Street Name"
      name="streetName"
      ngModel
      [formField]="form.controls.location.controls.street.controls.name"
    />
    <input
      type="string"
      placeholder="Apartment"
      inputmode="numeric"
      name="house"
      ngModel
      [formField]="form.controls.location.controls.street.controls.number"
    />
    <input
      type="text"
      placeholder="City"
      name="city"
      ngModel
      [formField]="form.controls.location.controls.city"
    />
    <input
      type="text"
      placeholder="Country"
      name="country"
      ngModel
      [formField]="form.controls.location.controls.country"
    />
    <input
      type="text"
      placeholder="State"
      name="state"
      ngModel
      [formField]="form.controls.location.controls.state"
    />
    <input
      type="string"
      placeholder="Postcode"
      name="postcode"
      ngModel
      [formField]="form.controls.location.controls.postcode"
    />
  </fieldset>
</form>

@if (contact.hasValue()) {
<button
  class="button button-danger"
  (click)="api.deleteContact(contact.value().id); router.navigate(['/contacts'])"
>
  <lucide-icon [name]="icons.Trash" size="18" />
  <span>Delete</span>
</button>
}
