:host {
  display: grid;
  padding: 1rem;
  gap: 1rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  form {
    display: grid;
    gap: 1rem;

    img {
      margin-inline: auto;
      border-radius: 2rem;

      box-shadow: color-mix(in hsl, var(--surface-3), transparent) 0px 10px 50px;

      @supports (corner-shape: squircle) {
        border-radius: 4rem;
        corner-shape: squircle;
      }
    }

    lucide-icon.avatar {
      margin-inline: auto;
    }

    h3 {
      place-self: center;
      font-size: 1.5rem;
      text-transform: capitalize;

      &:empty::after {
        content: 'your name';
        text-transform: capitalize;
      }
    }

    fieldset {
      display: grid;
      overflow: clip;
      padding: 0;
      background: light-dark(
        var(--surface-5),
        color-mix(in hsl, var(--surface-3), transparent 60%)
      );
      border-radius: 1rem;

      @supports (corner-shape: squircle) {
        border-radius: 2rem;
        corner-shape: squircle;
      }

      border: none;
      transition: background-color 150ms ease-in-out;

      &:has(:read-only) {
        background: light-dark(
          color-mix(in hsl, var(--surface-5), transparent 50%),
          color-mix(in hsl, var(--surface-3), transparent 80%)
        );
      }
    }

    input {
      font-family: inherit;
      padding: 1rem;
      border: none;
      background: transparent;

      &:read-only {
        pointer-events: none;
      }

      &:focus {
        outline: none;
        background-color: light-dark(
          var(--surface-5),
          color-mix(in hsl, var(--surface-3), transparent 80%)
        );
      }

      &::placeholder {
        color: var(--surface-3);
      }

      &:not(:read-only) {
        &:user-invalid,
        &.ng-invalid {
          background-color: color-mix(in lab, var(--danger-2), transparent 80%);
        }
      }
    }

    fieldset > * + * {
      border: 0px solid light-dark(var(--surface-4), var(--surface-1));
      border-block-start-width: 1px;
    }
  }
}
