:host {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem;
  height: 100dvh;
  overflow: hidden;

  header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding: 1rem;
  }

  main {
    overflow: auto;
    padding: 1rem;
    background: light-dark(
      var(--surface-5),
      color-mix(in oklch, var(--surface-1), black 20%)
    );
    border-radius: 1rem;
  }
}
