/* You can add global styles to this file, and also import other style files */
@import 'https://unpkg.com/open-props';

@import './styles/animations.css';
@import './styles/button.css';
@import './styles/utils.css';

@font-face {
  font-family: 'FiraSans';
  font-weight: 400;
  src: url('../assets/fonts/FiraSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/FiraSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 300;
  src: url('../assets/fonts/FiraSans-Light.woff2') format('woff2'),
    url('../assets/fonts/FiraSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 700;
  src: url('../assets/fonts/FiraSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/FiraSans-Bold.woff') format('woff');
}

@property --surface-1 {
  syntax: '<color>';
}

@property --surface-2 {
  syntax: '<color>';
}

@property --surface-3 {
  syntax: '<color>';
}

@property --surface-4 {
  syntax: '<color>';
}

@property --surface-5 {
  syntax: '<color>';
}

:root {
  --surface-1: #1b0235;
  --surface-3: #8e829a;
  --surface-4: #e9e9eb;
  --surface-5: #fafafa;

  --danger-1: #ff0000;
  --danger-2: #ff6464;
  --danger-3: #ffc8c8;

  color-scheme: light dark;
  background-color: light-dark(
    color-mix(in hsl, var(--surface-3), transparent 80%),
    var(--surface-1)
  );
  color: light-dark(var(--surface-1), var(--surface-5));
}

body {
  font-family: 'FiraSans', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}
